:root {
    --bg-clr: #0f0f0f;
    --game-bg-clr: #161616;
    --text-clr: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: var(--bg-clr);
    color: var(--text-clr);
    font-family: Arial, Helvetica, sans-serif;
}

.game {
    width: 50%;
    text-align: center;
    background-color: var(--game-bg-clr);
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: 1px solid #202020;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.55);
}

.informations {
    display: flex;
    justify-content: space-between;
}
