:root {
    --bg-clr: #0f0f0f;
    --game-bg-clr: #161616;
    --text-clr: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    padding: 200px;
    background-color: var(--bg-clr);
    color: var(--text-clr)
}

.game {
    width: 50%;
    text-align: center;
    background-color: var(--game-bg-clr);
}

.game > * {
    margin-top: 25px;
}

.informations {
    display: flex;
    justify-content: space-between;
}
